@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

.row p > a {
  color: #1d2027;
  text-decoration: underline;
  text-decoration-color: #b76e79;
}

#vui a:hover:after {
    content: url(img/vui-whiteboarding.jpg);
    display: block;
}

body {
  background-color: #fff;
  color: #1d2027;
  font-family: "Roboto", sans-serif;
  font-size: 15pt;
  font-weight: lighter;
}

div {
  padding: 10px 0;
}

footer {
  font-size: 10pt;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 40pt;
  font-weight: 500;
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 25pt;
}

h3 {
  font-family: "Avenir";
  font-size: 13pt;
  font-weight: bold;
  text-transform: uppercase;
}

html {
  -webkit-font-smoothing: antialiased;
}

#final-presentation {
  background-color: #010b13;
  color: #fff;
}

#connect-card {
  background: #010b13;
  color: #FFF;
}
  #connect-card img {
    float: right;
    bottom: 0;
  }

#footer h3 {
  font-weight: normal;
}

#img-divider {
  height: 80%;
  opacity: .8;
  width: auto;
}

#navigation {
  background-color: #fff;
}

#third img {
  margin-left: 20px;
}

.center-align {
  text-align: center;
}

.cover {
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07),
                0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07),
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07),
                0 32px 64px rgba(0,0,0,0.07);
  height: 470px;
  margin: 25px;
  overflow: hidden;
  padding: 40px 0 0 50px;
  width: 330px;
}
  .cover > p {
    padding-right: 50px;
  }
  .cover > a {
    color: inherit;
  }
  .cover > a:hover {
    text-decoration: none;
  }

.footnote {
  font-size: 8pt;
}

.highlight {
  border-bottom: 2px solid #5d8aa8;
}

.mx-auto {
  width: 700px;
}

.navbar-light {
  color: #FFF;
}

.persona {
  border: 3px solid #b76e79;
  border-radius: 25px;
  box-sizing: border-box;
  color: #4d3b3c;
  height: 125px;
  padding-top: 40px;
  width: 125px;
}

.polaroid {
  border: 20px solid #fff;
}

.quote {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 15px;
  padding: 20px;
}

.first-resize {
  height: 62%;
  width: auto;
}

.second-resize {
  height: 95%;
  width: auto;
}

.right-align {
  text-align: right;
}

.strong {
  font-weight: bold;
}
