@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

.row a, .other a {
  color: #1d2027;
  text-decoration: underline;
  text-decoration-color: #b76e79
}

.row a:hover, .other a:hover {
  color: #1d2027;
}

body {
  background-color: #e2dfd8;
  color: #1d2027;
  font-family: "Avenir", sans-serif;
  font-size: 15pt;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 40pt;
  font-weight: 500;
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 25pt;
}

h3 {
  font-family: "Avenir";
  font-size: 13pt;
  font-weight: bold;
  text-transform: uppercase;
}

html {
  -webkit-font-smoothing: antialiased;
}

#final-presentation {
  background-color: #1d2027;
  color: #e2dfd8;
}

#footer h3 {
  font-weight: normal;
}

#img-divider {
  height: 80%;
  opacity: .8;
  width: auto;
}

#navigation {
  background-color: #e2dfd8;
}

.center-align {
  text-align: center;
}

.footnote {
  font-size: 8pt;
}

.highlight {
  border-bottom: 2px solid #5d8aa8;
}

.mx-auto {
  width: 700px;
}

.navbar-light {
  color: #FFF;
}

.persona {
  border: 3px solid #b76e79;
  border-radius: 25px;
  box-sizing: border-box;
  color: #4d3b3c;
  height: 125px;
  padding-top: 40px;
  width: 125px;
}

.polaroid {
  border: 20px solid #fff;
}

.quote {
  background-color: #dbd7d2;
  border: 1px solid #dbd7d2;
  border-radius: 15px;
  padding: 20px;
}

.right-align {
  text-align: right;
}

.strong {
  font-weight: bold;
}
