body {
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-repeat: repeat;
  color: #000;
  font-size: 14pt;
  font-family: Arial;
  text-align: center;
}

h1 {
  font-size: 25pt;
  text-transform: uppercase;
}

h2 {
  font-size: 21pt;
}

h3 {
  font-style: italic;
  font-size: 14pt;
  font-weight: lighter;
}

p {
  margin: 0;
}

main {
  background-color: #FFF;
  border-radius: 12px;
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  margin: 0 auto;
  padding: 50px;
  max-width: 55%;
}

form {
  padding: 20px;
  text-align: left;
  width: 50%;
}

.resize {
  width: 85%;
}

legend {
  font-weight: bold;
  text-transform: uppercase;
}

.container {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
  display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bold {
    font-weight: bold;
    padding-top: 25px;
}

  .resize label {
    display: inline-block;
    width: 94.5%;
  }
  #payment label, #payment input {
    margin-top: left;
  }


button {
  background-color: #896652;
  border-radius: 5px;
  color: #FFF;
  font-family: Arial;
  font-size: 14pt;
  padding: 5px;
}
